@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <ul>
        <li>Studying DAM3 on EDUCEM</li>
        <li>Working on JUB Solutions as Junior Dotnet Developer</li>
    </ul>
</address>

<address>
    <strong>Twitter:</strong> <a href="@ViewData["Twitter"]">@ViewData["Twitter"]</a><br />
    <strong>GitHub:</strong> <a href="@ViewData["Github"]">@ViewData["Github"]</a>
</address>
